<!DOCTYPE html>
<html ng-app="app" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project Cost</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>
    <link rel="stylesheet" href="css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="http://angular-ui.github.com/ng-grid/css/ng-grid.css" />
    <link rel="stylesheet" href="css/app.css"/>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"></script>
    <script src="thirdParty/angular/angular.js"></script>
    <script src="thirdParty/angular/angular-route.js"></script>
    <script src="thirdParty/angular/angular-resource.js"></script>
    <script src="thirdParty/ngGrid/ng-grid.debug.js"></script>
    <script src="thirdParty/bootstrap/bootstrap.js"></script>
    <script src="app.js"></script>
    <script src="common/directives/dropDown.js"></script>
    <script src="common/services/services.js"></script>
    <script src="landingPage/scripting/controllers.js"></script>
    <script src="defineProject/scripting/controllers.js"></script>
    <script src="projects/scripting/controllers.js"></script>
    <script src="staffing/scripting/controllers.js"></script>
</head>
<body ng-controller="LandingPageCtrl">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-repeat="menu in menus" ng-click="setActive(menu)" ng-class="menu.active ? 'active' : ''"><a ng-href="{{menu.href}}">{{menu.caption}}</a></li>
            </ul>
        </div>
    </div>
</nav>
<div ng-view>&nbsp;</div>
</body>
</html>
