.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,.carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: auto;
    max-width: none;
}

.pageHeader {
    color: darkred !important;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 1500px;
    height: 300px
}